
.ucsbtext {
    color: white;
    font-size: 100px;
    line-height: 100px;
    font-family: "Arial Black"
}

.hreen {
    color: white;
    font-size: 40px;
    line-height: 100px;
    font-family: "Arial Black"
}