#happy{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url("orca.png");
}


.wcctext {
    opacity: 60;
    color: black;
    font-size: 20px;
    line-height: 40px;
    font-family: "Arial Black"
}

.orca{
    height: 400px;
    width: 850px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: black; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 20px; /* Rounded corners */
}